{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Customers</h5>
      <a href="{% url 'customers:customer_create' %}" class="btn btn-primary btn-sm float-right">Create Customer</a>
    </div>
    <div class="card-body">
      {% if object_list %}
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in object_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ customer.Name }}</td>
            <td>{{ customer.ContactNumber }}</td>
            <td>{{ customer.Address }}</td>
            <td>
              <a href="{% url 'customers:customer_update' customer.id %}" class="btn btn-primary btn-sm">Update</a>
              <form action="{% url 'customers:customer_delete' customer.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form> 
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">No customers found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>No vehicles found.</p>
        {% endif %}
      </div>
    </div>
</div>
{% endblock %}

