
{% extends "base.html" %}
{% block content %}
 <div class="main_content_iner ">
        <div class="container-fluid p-0">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="dashboard_header mb_50">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="dashboard_header_title">
                                
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dashboard_breadcam text-end">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-8">
                    <div class="white_box mb_30">
                        <div class="row justify-content-center">
                          
                            <div class="col-lg-6">
                                <!-- sign_in  -->
                                <div class="modal-content cs_modal">
                                    <div class="modal-header justify-content-center theme_bg_1">
                                        <h5 class="modal-title text_white">Log in</h5>
                                    </div>
                                    <div class="modal-body">
                                    {% if messages %}
                                            <ul class="messages">
                                                {% for message in messages %}
                                                <li class="alert text-white bg-danger">{{ message }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        <form method='post'>
                                        {% csrf_token %}
                                       
                                       
                                        
                                           <div class="">
                                                <input type="text" name="username" class="form-control" placeholder="User Name" id="id_username">
                                            </div>
                                            <div class="">
                                                <input type="password" name="password" class="form-control" placeholder="Password" id="id_password">
                                            </div> 
                                            <button type='submit' class="btn_1 full_width text-center">Login</button>
                                            
                                            <p>Need an account? <a data-toggle="modal" data-target="#sing_up" data-dismiss="modal"  href="#"> Sign Up</a></p>
                                            <div class="text-center">
                                                <a href="#" data-toggle="modal" data-target="#forgot_password" data-dismiss="modal" class="pass_forget_btn">Forget Password?</a>
                                            </div>
                                        </form>
                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% comment %} 
{% extends "base.html" %}
{% block content %}
 <div class="main_content_iner ">
 <div class="container-fluid p-0 sm_padding_15px">
<div class="row" >

<div  class="col">

</div>
<div  class="col-lg-4">

 <div class="white_card card_height_100 mb_30">
 <div class="white_card_body">
<h1>Login</h1>
<form method='post'>
{% csrf_token %}
{% load crispy_forms_tags %}
{{ form|crispy }}
<button type='submit' class="btn btn-primary">Login</button>
</form>
<hr />
</div>
</div>
</div>
<div  class="col">
</div>

</div>
</div>
</div>
{% endblock content %} {% endcomment %}