{% extends 'base.html' %}

{% block content %}
  <div class="main_content_iner ">
 <div class="container-fluid p-0 sm_padding_15px">
<div class="row" >

<div  class="col">

</div>
<div  class="col-lg-6">

 <div class="white_card card_height_100 mb_30">
 <div class="white_card_body">
  <h2>Add New Inventory Item</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="id_name">Name:</label>
      {{ form.name }}
    </div>
    <div>
      <label for="id_quantity">Quantity:</label>
      {{ form.quantity }}
    </div>
    <div>
      <label for="id_price">Price:</label>
      {{ form.price }}
    </div>
    <div>
      <label for="id_user">User:</label>
      {{ form.user }}
    </div>
    <div>
      <label for="id_company">Company:</label>
      {{ form.company }}
    </div>
    <button type="submit">Save</button>
  </form>
  </div>
</div>
</div>
<div  class="col">
</div>

</div>
</div>
</div>
{% endblock %}
