{% load static %}
<!-- footer part -->
<div class="footer_part">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer_iner text-center">
                   
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- popper js -->
{% comment %} <script src="{% static 'js/popper.min.js' %}"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- bootstarp js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

<!-- sidebar menu  -->
<script src="{% static 'js/metisMenu.js' %}"></script>
<!-- waypoints js -->
<script src="{% static 'vendors/count_up/jquery.waypoints.min.js' %}"></script>
<!-- waypoints js -->
<script src="{% static 'vendors/chartlist/Chart.min.js' %}"></script>
<!-- counterup js -->
<script src="{% static 'vendors/count_up/jquery.counterup.min.js' %}"></script>
<!-- nice select -->
<script src="{% static 'vendors/niceselect/js/jquery.nice-select.min.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'vendors/owl_carousel/js/owl.carousel.min.js' %}"></script>
<!-- responsive table -->
<script src="{% static 'vendors/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/vfs_fonts.js' %}"></script>
<script src="{% static 'vendors/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/buttons.print.min.js' %}"></script>
<!-- datepicker  -->
<script src="{% static 'vendors/datepicker/datepicker.js' %}"></script>
<script src="{% static 'vendors/datepicker/datepicker.en.js' %}"></script>
<script src="{% static 'vendors/datepicker/datepicker.custom.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'vendors/chartjs/roundedBar.min.js' %}"></script>
<!-- progressbar js -->
<script src="{% static 'vendors/progressbar/jquery.barfiller.js' %}"></script>
<!-- tag input -->
<script src="{% static 'vendors/tagsinput/tagsinput.js' %}"></script>
<!-- text editor js -->
<script src="{% static 'vendors/text_editor/summernote-bs4.js' %}"></script>
<script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script src="{% static 'vendors/am_chart/amcharts.js' %}"></script>
<!-- scrollabe  -->
<script src="{% static 'vendors/scroll/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'vendors/scroll/scrollable-custom.js' %}"></script>
<!-- vector map  -->
<script src="{% static 'vendors/vectormap-home/vectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'vendors/vectormap-home/vectormap-world-mill-en.js' %}"></script>

<!-- apex chrat  -->
<script src="{% static 'vendors/apex_chart/apex-chart2.js' %}"></script>
<script src="{% static 'vendors/apex_chart/apex_dashboard.js' %}"></script>

<!-- <script src="{% static 'vendors/echart/echarts.min.js' %}"></script> -->

<script src="{% static 'vendors/chart_am/core.js' %}"></script>
<script src="{% static 'vendors/chart_am/charts.js' %}"></script>
<script src="{% static 'vendors/chart_am/animated.js' %}"></script>
<script src="{% static 'vendors/chart_am/kelly.js' %}"></script>
<script src="{% static 'vendors/chart_am/chart-custom.js' %}"></script>
<!-- custom js -->
<script src="{% static 'js/dashboard_init.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
  CKEDITOR.replace('{{ form.body.id_for_label }}');
</script>
{% comment %} <script>
 $(document).ready(function() {
      $('#example').DataTable({
        destroy: true,
        responsive: true
      });
    });

$(document).ready(function() {
  // Initialize dropdown menu with Popper JS
  new Popper($('#cityDropdown'), $('.dropdown-menu'), {
    placement: 'bottom-start',
  });

  // Handle search input
  $('.search-input').on('input', function() {
    var searchText = $(this).val().toLowerCase();

    // Show/hide options based on search text
    $('.dropdown-item').each(function() {
      var optionText = $(this).text().toLowerCase();
      if (optionText.indexOf(searchText) >= 0) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  });

  // Handle option selection
  $('.dropdown-item').on('click', function(e) {
    e.preventDefault();
    var value = $(this).data('value');
    var label = $(this).text();
    $('#cityDropdown').html(label);
    $('#cityDropdownInput').val(value);
  });
}); 


$(document).ready(function() {
    // Initialize dropdown menu with Popper JS
    var dropdown = new Popper($('#companyDropdown'), $('.dropdown-menu'), {
        placement: 'bottom-start'
    });

    // Handle search input
    $('.search-input').on('input', function() {
        var searchText = $(this).val().toLowerCase();

        // Show/hide options based on search text
        $('.dropdown-item').each(function() {
            var optionText = $(this).text().toLowerCase();
            if (optionText.indexOf(searchText) >= 0) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    // Handle option selection
    $('.dropdown-item').on('click', function(e) {
        e.preventDefault();
        var value = $(this).data('value');
        var label = $(this).text();
        $('#companyDropdown').html(label);
        $('#companyDropdownInput').val(value);
    });
});

</script> {% endcomment %}